@font-face {
    font-family: 'Corpid E1s SCd bold';
    src: url('./fonts/CorpidE1sSCd-Bold.woff2') format('woff2'),
        url('./fonts/CorpidE1sSCd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corpid E1s Cd 300';
    src: url('./fonts/CorpidE1sCd-Light.woff2') format('woff2'),
        url('./fonts/CorpidE1sCd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corpid E1s normal';
    src: url('./fonts/CorpidE1s-Regular.woff2') format('woff2'),
        url('./fonts/CorpidE1s-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corpid E1s bold';
    src: url('./fonts/CorpidE1s-Bold.woff2') format('woff2'),
        url('./fonts/CorpidE1s-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corpid E1s SCd normal';
    src: url('./fonts/CorpidE1sSCd-Regular.woff2') format('woff2'),
        url('./fonts/CorpidE1sSCd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corpid E1s SCd 300';
    src: url('./fonts/CorpidE1sSCd-Light.woff2') format('woff2'),
        url('./fonts/CorpidE1sSCd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corpid E1s SCd 900';
    src: url('./fonts/CorpidE1sSCd-Heavy.woff2') format('woff2'),
        url('./fonts/CorpidE1sSCd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

